body{
    background:rgba(149, 231, 102, 0.685);
    padding: 15px;
    margin: 15px;

}

article {
    padding: 10px;
    display:flex;
    justify-content: space-around;
    margin-right: 20px;   
}

h3{
    font-family: 'Trebuchet MS', sans-serif;
    font-size:30px;
}

h2{
    font-family: 'Trebuchet MS', sans-serif;
    font-size:30px;
}